<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Water Meter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
        
        <script src="https://kit.fontawesome.com/5a3701df67.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <a class="logo" href="/">Water Supply Data Collection System</a>

            <ul>
                <li><a class="active" href="/dashboard">Dashboard</a></li>
                <li><a href="/contact">Contact us</a></li>
                <li><a href="/signout">LOG OUT</a></li>
            </ul>
        </nav>
        <section>
            <div class="img-slider" id="main-slide">
                <div class="slide active">
                    <img src="https://cdn.discordapp.com/attachments/986608241528164422/1125019786640900096/save_water_in_house_use2-01.jpg" alt="">
                    <!--
                    <div class="info">
                        <h2>Slide 01</h2>
                        <p>Description</p>
                    </div>
                    -->
                </div>
                <div class="slide">
                    <img src="https://cdn.discordapp.com/attachments/986608241528164422/1125019037559177357/No_pay_water-01.jpg" alt="">
                    <!--
                    <div class="info">
                        <h2>Slide 02</h2>
                        <p>Description</p>
                    </div>
                    -->
                </div>
                <div class="navigation">
                    <div class="btn active"></div>
                    <div class="btn"></div>
                </div>
            </div>
            <script src="{{ url_for('static', filename='scrollwheellock.js') }}"></script>
            <script type="text/javascript">
                var slider = document.querySelector('.img-slider');
                var checkbox = document.getElementById('check');
                
                checkbox.addEventListener('click', function() {
                  if (checkbox.checked) {
                    slider.style.display = 'none';
                  } else {
                    slider.style.display = 'block';
                  }
                });
                

            </script>
            <script type="text/javascript">
                var slides = document.querySelectorAll('.slide');
                var btns = document.querySelectorAll('.btn');
                let currentSlide = 1;

                var manualNav = function(manual){
                    slides.forEach((slide) => {
                        slide.classList.remove('active');

                        btns.forEach((btn) => {
                            btn.classList.remove('active');
                        });
                    });
                    slides[manual].classList.add('active');
                    btns[manual].classList.add('active');
                }
                btns.forEach((btn,i) => {
                    btn.addEventListener("click", () => {
                        manualNav(i);
                        currentSlide = i;
                    });
                });
                
                var repeat = function(activeClass){
                    let active = document.getElementsByClassName('active');
                    let i = 1;

                    var repeater = () => {
                        setTimeout(function(){
                            [...active].forEach((activeSlide) => {
                                activeSlide.classList.remove('active');
                            });
                            slides[i].classList.add('active');
                            btns[i].classList.add('active');
                            i++;

                            if(slides.length == i){
                                i = 0;
                            }
                            if(i >= slides.length){
                                return;
                            }
                            repeater();
                        }, 10000);
                    }
                    repeater();
                }
                repeat();
            </script>
        </section>
    </body>
</html>